<!DOCTYPE html>
<html>
    <head>
<body>

        <link
            href="https://fonts.googleapis.com/css?family=Poppins:400,600,700"
            rel="stylesheet"
        />
        <link
            href="{{ url_for('static', filename='css/main.css')}}"
            rel="stylesheet"
        />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{url_for('static', filename='/jquery/jquery.js') }}">\x3C/script>')</script>
        <script src="{{url_for('static', filename='jquery/auto.js')}}"></script> 
    </head>
    hexseal
    <body>
        <div class="s010">
            <form action={{ url_for('index') }} method="POST">
                <button class="myButton" onclick="{{url_for('trending')}}">Trending</button>
                <div class="inner-form">
                    <div class="basic-search">
                        <div class="input-field">
                            <input
                                id="search"
                                type="text"
                                name="search"
                                placeholder="Search"
                            />
                            <div class="icon-wrap">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                >
                                    <path
                                        d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                                    ></path>
                                </svg>
                            </div>
                        </div>
                        <div class="row">
                         <ul id="gifs">
                            {% for url in gifs %}        
                            <script language="JavaScript">
                                document.write( "<img src=\"" + {{ url|tojson|safe }} + "\"></img>" );
                            </script>
                            {% endfor %}
                        </ul> 
                        </div>
                        <!-- {% for url_row in gifs | batch(4, '&nbsp;') %}
                         <div class = "row">
                            {% for url in url_row %}
                            <div id="gifs" class='column'> 
                                <script language="JavaScript">
                                document.write( "<img src=\"" + {{ url|tojson|safe }} + "\" style=\"width:100%\" ></img>" );
                                </script>
                            </div>          
                            {% endfor %}
                        </div>
                        {% endfor %} -->
                        <p> {{empty}}</p>
                    </div>
                </div>
            </form>
        </div>

    </body>
</html>
